@use "../imports/settings" as *;
@use "../imports/tools" as *;

.form-create-task {
  @include customFlex(row, wrap, space-between, center);
  gap: 1rem;
  padding: 1rem 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);

  &__label {
    @include customFlex(row, nowrap, space-between, center);
    gap: 0.5rem;
  }

  &__input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.2rem 0.5rem;
  }
}
.input {
  &-text {
    width: 20rem;
  }
  &-category {
    width: 10rem;
  }
}

@media screen and (max-width: 980px) {
  .form-create-task {
    @include customFlex(column, nowrap, space-between, normal);
    gap: 1.5rem;

    &__input {
      width: 100%;
    }
  }
}
