@use "../imports/settings" as *;
@use "../imports/tools" as *;

.task {
  @include customFlex(row, nowrap, space-between, center);
  gap: 1rem;
  border: 1px solid #ffffff90;
  background-color: #0000003a;
  border-radius: 0.6rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px $stroke;

  &__section {
    @include customFlex(row, nowrap, end, center);
    gap: 0.5rem;

    &-icons {
      font-size: 1.3rem;
    }
  }
  &__df-row {
    @include customFlex(row, nowrap, normal, center);
    gap: 1rem;
  }
  &__btn-close {
    color: #f00;
    font-size: 1.5rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px #f00);
  }
}

.form-edit {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;

  &__input {
    padding: 0.3rem;
    border-bottom: 2px dashed $secondary;
    resize: none;
  }
  &__category {
    width: 10rem;
  }
}

.completed {
  &__form {
    border-color: $dark;
  }
  &__task {
    color: $secondary;
    text-decoration: line-through;
  }
  &__category {
    color: gray;
  }
}

@media screen and (max-width: 600px) {
  .form-edit {
    grid-template-columns: auto;
  }
  .task {
    flex-wrap: wrap;
    &__df-row {
      justify-content: space-evenly;
      gap: 1rem;
      width: 100%;
    }
  }
}
