@use "./styles/imports/components";
@use "./styles/imports/container";
@use "./styles/imports/generic";
@use "./styles/imports/settings" as *;
@use "./styles/imports/tools" as *;

body {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/07/21/book-1868068_1280.jpg");
  background-size: cover;
  color: $white;
}

.bg-shadow {
  background-color: #000000bd;
  min-height: 100vh;
}

.default-size {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.main {
  @include customFlex(column, nowrap, normal, normal);
  gap: 1.5rem;
}
